.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 35px;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote-box {
  background-color: #fafafa;
  border-radius: 3px;
  padding: 40px 50px;
  width: 450px;
}

#author {
  text-align: end;
  font-size: 20px;
  margin-top: 24px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  margin-top: 40px;
}

#tweet-quote {
  display: flex;
  color: #fafafa;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

#new-quote {
  padding: 10px;
  color: #fafafa;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
